* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.hero-container {
     background-color: #1F2937;
     display: flex;
     flex-direction: column;
     padding-left: 24px;
     padding-right: 24px;
     padding-top: 16px;
     padding-bottom: 24px;
}
.top-header {
    display: flex;
    justify-content: space-between;
    
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
     
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
}
.nav-bar,
.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 700px;
}
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}
.sign-up-button {

    background-color: #3882F6;
    border: 4px #1f2937;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 8px;
}
.header-content {
    margin-top: 60px;
    margin-bottom: 60px;
}
.information {
    color: #1f2937;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.card img{
max-width: 200px;
height: auto;
}


